/* 文章页背景 */
.layout > div:first-child:not(.recent-posts) {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255, 255, 255, 0.5);
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts > .recent-post-item,
.layout > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255, 255, 255, 0.5);
}

/* 背景渐变 */
#web_bg{
    /*紫粉渐变*/
    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/
    /*粉白蓝*/
    /*background-image: linear-gradient(-225deg, #dfbacd 0%, #B8DCFF 48%, #58abf3 100%);*/
    /*background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);*/
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}